<?xml version="1.0" encoding="utf-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
      android:layout_width="fill_parent"
      android:background="#526F35">
  <item
  android:title="Look up a word"
  android:layout_width="fill_parent"
  android:layout_height="wrap_content"
  android:padding="10px"
  android:id="@+id/lookUpWords"
  android:background="#526F35"/>
  <item android:id="@+id/selectDictionaries"
         android:title="Select dictionaries" android:layout_width="fill_parent"
   android:layout_height="wrap_content"
   android:padding="10px"
   android:background="#526F35"/>
  <item  android:id="@+id/share"
        android:title="Share" android:layout_width="fill_parent"
  android:layout_height="wrap_content"
  android:padding="10px"
  android:background="#526F35"/>
</menu>